/* Font family e colore di sfondo */

body {
 background-color: #fcfcfc;
 font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.testo_centrale{
  font-family: sans-serif;
  font-size: 1.500em;
  font-weight: lighter;
  line-height: 2.57142857 rem;
  letter-spacing: -1px;
  text-align: justify;
}

/* Classe per applicare un margine inferiore */

.margine-bottom {margin-bottom: 20px;}

.container{border-bottom: 4px solid #357ebd;}

.border{
  border-top: 1px dashed #357ebd;
  margin: 20px 0 20px 0;
}

/* Stili per sovrascrivere e modificare la Navbar di Bootstrap */
.navbar {
  border: none;
}

.navbar-nav {
  margin-top: 0;
  float: right;
}

.my_img{margin: 10px;}

.navbar-default {
  background-color: #fcfcfc;
}

.navbar-nav > li > a {
  padding-bottom: 15px;
  padding-top: 25px;
  }


.navbar-default .navbar-nav > li > a {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333333;
  border-bottom: 1px solid #357ebd;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #357ebd;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #357ebd;
}

.navbar-toggle {
  border-radius: 0;
}

.navbar-default .navbar-toggle {
 border: 1px solid #357ebd;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #357ebd;
}

.navbar-default .navbar-collapse {
  border-color: transparent;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #357ebd;
  border-bottom-color: #357ebd;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #357ebd;
}

.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: #333;
  border-bottom-color: #333;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #333;
  border-bottom-color: #333;
}

@media screen and (min-width: 768px) {
 .navbar-default .navbar-nav > li > a {
  border-bottom: none;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  border-top: 2px solid #357ebd;
  padding-top: 13px;
}
}

.progress{height: 30px;}

.progress-bar{padding: 5px 0;}

.align-skill{
  text-align: left;
  margin-left: 20px;
  }
  
.border{
border-bottom: 1px dashed #357ebd;  
}  

.circle{
  border: 4px solid #FFFFFF;
  box-shadow: 0 0 15px rgba(3, 3, 3, 0.3);
  float: left;
  margin: 0 20px 5px 0;
}

a.more{color: #2f78b7;}

.dx{
  position: relative;
}

#intro > .row > .col-sm-8 > h1,h2,p {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.nome{
  color: #4A4A4A;
  font-size: 1.7em;
  line-height: 34px;
  text-transform: uppercase;
   

}

.attivita{
  color: #357EBD;
  font-size: 1.2em;
  line-height: 34px;
}

.messaggio{
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.6;
  text-align: justify;
  padding: 10px;
}

.soc {
  float: right;
}

.soc ul li  {
  display: inline-block;
  float: left;
  margin-right: 10px;
}


.cont li{
  margin: 0 0 4% 0 ;
  text-align: right;
}

.cont > ul > li > a, a:hover {
  color: #747474;
  text-decoration: none;
}
/*fine css*/

/* css per sezione intro */
.dx > .cont > span.header{
  border-bottom: 3px solid #1E7790;
  font-family: 'Oswald',sans-serif;
  font-size: 26px;
  font-weight: 300;
  float: right;
  margin-bottom: 14px;
}

/* css header sezione */

.header{
  font-size: 26px;
  border-bottom: 3px solid #1e7790;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}
  /* skills*/
.container #skills{
margin-top: 50px;  
}

.container h4:after{
  background-color: #357ebd;
}

.container h4:after {
  content: " ";
  display: block;
  height: 1px;
  left: 0;
  position: relative;
  top: 7px;
  width: 30px;
}

.container h4{
  color: #2f78b7;
}

.container h4{
  border-bottom: 1px solid #DDDDDD;
  margin-bottom: 15px;
  padding-bottom: 6px;
}

h4{
  font-size: 1.3em;
  line-height: 1em;
  margin-bottom: 5px;
}

h5{
  margin-bottom: 20px;
}

.detail{
  display: block;
  float: left;
  text-align: left;
  line-height: 2.8;
}

.detail span{
  color: #747474;
  padding-right: 20px;
}

.info {
  display: block;
  float: left;
  width: 65%;
  padding: 10px 0 ;
}

.info p{ 
  line-height: 2;
  text-align: justify;
}

ul{ list-style: none outside none;}

.dw-cv{margin-bottom: 15px;}

/* Modifica del componente thumbnails per il portfolio */

.portfolio-section-title {
  border-bottom: 1px solid #FFFFFF;
  font-size: 2.5em;
  margin: 20px 0 0;
  padding: 15px;
}

.portfolio-filtro {margin-top: 15px;}

.portfolio-thumbnail {
  display: inline-block;
  display: block;
  height: auto;
  max-width: 100%;
  margin: 15px 0;
  padding: 4px;
  line-height: 1.428571429;
  background-color: #eeeeee;
  border: 1px solid #86B6DE;
  border-radius: 0;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}
.thumbnail {
  display: inline-block;
  display: block;
  height: auto;
  max-width: 100%;
  padding: 4px;
  line-height: 1.428571429;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.portfolio-thumbnail > img,
.portfolio-thumbnail > a > img,
.portfolio-img-thumbnail {
  display: inline-block;
  height: auto;
  max-width: 100%;
}

.portfolio-thumbnail:hover,
.portfolio-thumbnail:focus {
  border-color: #357ebd;
}

.portfolio-thumbnail > img {
  margin-right: auto;
  margin-left: auto;
}

.portfolio-thumbnail .caption {
  padding: 9px;
  color: #333333;
}

/* css per sovrascrivere regole menu tab*/
.nav-pills >li > a:hover {
  background-color: #71b0e4;
  color: #ffffff;
}

.nav-pills > li > a {
  border-radius: 2px;
}

.nav-pills > li {
  float: left;
  padding-left: 5px;
}

.nav.nav-pills a {
  background-color: #EEEEEE;
  color: #8f8f8f;
  font-family: 'Open Sans',sans-serif;
}


#categorie,#resume,#contatti{
  margin-top: 20px;
}

#contatti{
  margin-bottom: 10px;
}

/* css per sovrascrivere regole del contact form*/
form {
  float: left;
  font-family: inherit;
}
form label {
  display: inline-block;
  width: 90%;
}
form input#name, form input#email{
  border: 1px solid #CCCCCC;
  color: #333333;
  display: inline-block;
  font-family: inherit;
  margin: 5px 0 20px;
  padding: 15px;
  width: 90%;
}
form input#name:required, form input#email:required{
  background: url("/assets/img/x.gif") no-repeat scroll 98% center #FFFFFF;
  color: #333333;
}
form input#name:required:valid, form input#email:required:valid{
  background: url("/assets/img/v.gif") no-repeat scroll 98% center #FFFFFF;
  color: #CCCCCC;
}
form textarea {
  border: 1px solid #CCCCCC;
  color: #333;
  display: inline-block;
  font-family: inherit;
  margin: 5px 0 20px;
  padding: 10px;
  width: 90%;
}
form .required {
  color: #EE0000;
  display: inline;
  padding-left: 5px;
}

.submit-comment {
  border-left: medium none;
  border-radius: 3px;
  border-right: medium none;
  border-style: none none solid;
  border-top: medium none;
  border-width: medium medium 2px;
  color: #FFFFFF !important;
  font-size: 14px;
  font-weight: 700;
  outline: medium none;
  padding: 18px;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s;
}

.submit-comment{
  background-color: #357ebd;
  border-bottom:2px solid #114b7b;
}

.submit-comment:hover{
  background-color: #DADADA;
  border-bottom-color: #C1C0C0;
}

.titoletto {
  border-bottom: 1px dotted #E4E9F0;
  display: block;
  margin: 10px 0 25px;
}

.titoletto h2 {
  font-size: 23px;
  border-bottom: 2px solid #357EBD;
  color: #585F69;
  display: inline-block;
  margin: 0 0 -2px;
  padding-bottom: 5px;
} 

.map{
  border-bottom: 1px solid #EEEEEE;
  border-top: 1px solid #EEEEEE;
  width: 100%;
  height: 250px;
}

.margin-bottom-40{
  margin-bottom: 40px;
}

.margin-bottom-30{
  margin-bottom: 30px;
}

.contatti a{
  color: #555;
  line-height: 1.6;
}

.contatti li {
  margin-bottom: 6px;
}
.contatti li i {
  color: #357EBD;
  font-size: 18px;
  margin-right: 8px;
  position: relative;
  top: 2px;
}
.contatti li:hover i, .contatti li:hover a {
  color: #777777;
}
.who li:hover a:hover {
  text-decoration: none;
}

.orario li{
  margin-bottom: 6px;
}

.scrolltotop {
    width:48px;
    height:48px;
    position:fixed;
    bottom:50px;
    right:50px;
    display:none;
    text-indent:-1000px;
    opacity:0.5;
    background: url('/assets/img/arrow-up.png') no-repeat;
}

a.scrolltotop > p{display: none;}
/*footer css*/
footer {
  padding: 25px;
}

footer span{
  font-size: 1.250em;
  color: #333;
  margin-top: 10px;
  margin-left: 30px;
}

.social{
  float: right;
  margin-right: 100px;
}

a.git,.lnk,.tw{color: #dedede; margin-right: 5px;}

a.git > p{display: none;}
a.lnk > p{display: none;}
a.tw  > p{display: none;}

a.git:hover{color: #777;}

a.lnk:hover{color: #428BCA;}

a.tw:hover{color: #55ACEE;}